@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;	
}

.container {
	font-size: 1em;
	width:100%;
	color:#00F;
}
.header {
	width:100%;
}
.content {
	width:100%;
}
.footer {
	width:100%;
}